/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 ก.พ. 2558, 14:32:32
    Author     : Nontapon
*/

input[type="number"][class="form-control"] {
    width: 120px;
    text-align: right;
}

label {
    margin-right: 5px;
    margin-left: 5px;
}

.form-inline .form-group {
/*    margin-right: 10px;*/
    margin-bottom: 5px;
}

header {
    margin: 0 0 10px 0;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover  {
    text-decoration: none;
    color: #333;
    text-shadow: 2px 2px 4px #aaa;
}

header .psulogo {
    display: inline-block;
    max-height: 130px;
    width: auto;
    height: auto;
    //max-width:60px;
    margin-top:10px;
    margin-bottom:0px;
    vertical-align: top;
    border: 0px;
}

header .title {
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
    vertical-align: top;
}

header .title::after {
    diaplay: block;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
}

header h2 {
    font-size: 1.3em;
    font-weight: 200;
    margin: 5px 0;
}

header .maintitle {

}

header .subtitle {

}

.rentalList {

}

.rentalList .rentalCode, .rentalList .date {
    display: block;
    text-align: right;
    font-size: 0.7em;
    color: #555;
    margin-bottom: 5px;
}

.rentalList .rentalCode::after {
    clear: both;
}

.rentalList a img.cover {
    width: 90px; 
    height: 90px; 
    border: 1px #e4e4e4 solid; 
    border-radius: 4px;
}

.rentalList .monthlyfee {
    font-weight: bold;
    color: darkslategrey;
}

.rentalList .monthlyfee::before {
    content: "Fee : ";
}

.rentalList .monthlyfee::after {
    content: " Baht/Months";
}

.rentalList .monthlyfeeto::before {
    content: " - ";
}

.rentalList .status {
    margin-top: 10px;
    float: right;
    padding: 5px 20px;
    text-align: right;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

.rentalList .status::after {
    clear: both;
}

.rentalList .status.rap {
    background-color: green;
    border-color: #2b542c;
    border-top-color: #449d44;
    border-left-color: #449d44;
}

.rentalList .status.rco {
    background-color: gray;
    border-color: #555;
    border-top-color: #e4e4e4;
    border-left-color: #e4e4e4;
}

.rentalList .status.rup {
    background-color: red;
    border-color: darkred;
    border-top-color: #d9534f;
    border-left-color: #d9534f;
}

.rentalList .status.rwt {
    color: goldenrod;
    background-color: #faebcc;
    border-color: goldenrod;
    border-top-color: gold;
    border-left-color: gold;
}

.rentalList .status.rdl {
    color: red;
    background-color: whitesmoke;
    border-color: darkred;
    border-top-color: #d9534f;
    border-left-color: #d9534f;
}

.user .status {
    margin-top: 10px;
    float: right;
    padding: 5px 20px;
    text-align: right;
    border-radius: 25px;
    color: white;
}

.user .status::after {
    clear: both;
}

.user .status.ubk {
    background-color: red;
}

.user .status.uno {
    background-color: green;
}

.container a.readmore {
    display: none;
}

.container > .bottom-panel {
    
}

.container > .bottom-panel > h2 {
    
}

.container > .bottom-panel .mainparam {
    
}

.container .bottom-panel a.readmore {
    display: inline;
}

.container > .bottom-panel .nextparm {
    display: none;
}
